body {
    background: #f1f1f1;
}
.content {
    height: 200px;
    width: 600px;
    background-color: white;
    border: red 3px solid;
    border-radius: 0.5em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
hr{
    color: #f1f1f1;
    background-color: #f1f1f1; 
    height: 0.5px;
    
}
h1{
    font-family:sans-serif;
    margin: auto;
    text-align: center;
}
.line{
    width: 300px;
    margin: auto;
}
p{
    margin-top: 30px;
    font-family:sans-serif;
    line-height: 1.5;
    color: #837d7d;
}