p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:coral;
    text-transform: uppercase;
}
p::before, p::after{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    color: darkblue;
}
p::before{
    content: '\201c';    
}
p::after{
    content: '\201d';    
}
h2{
    font-family: 'Roboto';
    font-weight:bolder ;
    font-size: 25px;
}
li:last-child{
    color:green;
    font-style: italic;
}
li:first-child{
    color:red;
    font-weight: bold;
}